{% include 'admin/admin.html.twig' %}

{% block body %}
    {% block content %}
    <h1>Modifier un allergen</h1>

    {{ include('allergen/_form.html.twig', {'button_label': 'Modifier un allergen !'}) }}
    {% endblock %}
{% endblock %}
