{% extends 'base.html.twig' %}

{% block title %}Confirmation de la commande{% endblock %}

{% block body %}

    <h1>Commande validée</h1>
    <p>
        Merci pour votre commande, vous allez recevoir un email de confirmation.
    </p>
    <table class="table">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix unitaire</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% for produit in clientOrder.getPlats() %}
    <tr>
        <td> {{ produit.Name }}</td>
        <td> {{ produit.Price|number_format(2, ',', ' ') }} €</td>
        {% set total = total + produit.Price %}
        {% endfor %}
    </tr>
    <tr>
        <th>Total</th>
        <td>= {{ total }} €</td>
    </tr>
    </tbody>

{% endblock %}