{% extends 'base.html.twig' %}

{% block title %}ClientOrder index{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date et heure de la commande</th>
            <th>Prix de la commmande</th>
            <th>Statut de la commande</th>
            <th>Détail de la commande</th>
        </tr>
        </thead>
        <tbody>
        {% for client_order in client_orders %}
            <tr>
                <td>{{ client_order.dateheureCommande ? client_order.dateheureCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client_order.prixCommmande|number_format(2, ',', ' ') }}€</td>
                <td>{{ client_order.statutCommande }}</td>
                <td>
                    <a href="{{ path('app_order_show', {'id': client_order.id}) }}" class="btn btn-primary">Détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
