<form method="post" action="{{ path('app_plat_delete', {'id': plat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
    <button class="btn btn-danger">Supprimer un plat</button>
</form>
