{% include 'admin/admin.html.twig' %}

{% block body %}
    {% block content %}
    <h1>Modifier un plat</h1>

    {{ include('plat/_form.html.twig', {'button_label': 'Modifier un plat !'}) }}

    {% endblock %}
{% endblock %}
